/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== VARIABLES DE COLOR GLOBALES ========== */
:root {
    /* Colores principales */
    --primary-color: #00fe9b;
    --primary-dark: #014b2f85;
    --primary-light: #00fe9dfe;

    /* Colores de fondo */
    --bg-dark: #1d1c22;
    --bg-dark-semi: #1d1c22f8;
    --bg-secondary: #373541;
    --bg-light: #f5f5f544;

    /* Colores de texto */
    --text-primary: azure;
    --text-secondary: gray;
    --text-white: white;
    --text-black: black;
    --text-light: #ddd;
    --text-muted: #aaa;
    --text-darker: #888;
    --text-dark-gray: #555;

    /* Colores de énfasis */
    --accent-blue: #5667ff;
    --accent-green: #4caf50;
    --accent-red: #f44336;
    --accent-red-dark: #d80707;
    --accent-gray: #5a576b;
    --accent-light-gray: #ccc;

    /* Colores con transparencia */
    --overlay-dark: #00000043;

    /* Otras variables útiles */
    --transition-speed: 0.3s;
    --transition-speed-long: 0.5s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* Establecer una fuente por defecto con Google Fonts */
body {
    /* font-family: "JetBrains Mono", monospace; */
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://thelokin.dev/images/grainy.png);
    
    background-color: var(--bg-dark);
    color: var(--text-primary);
}

/* --------------------HEADER---------------------------- */
header {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 25px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: -1px;
    z-index: 10;
    margin-bottom: 8%;  
    background-color: var(--bg-dark-semi);
    background-image: url(https://thelokin.dev/images/grainy.png);    
    
}

.logo {

    /* position: relative; */
    display: flex;
    align-items: center;
    z-index: 1001;
}

.logo a {
    text-decoration: none;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}

/* Estilo para la barra de navegación */
.menu ul {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: var(--text-primary);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.menu a.active {
    color: var(--primary-color);
    position: relative;
    padding: 10px 0px;
}

.menu a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0px;
    /* separacion entre texto y linea */
    width: 100%;
    height: 2px;
    /* grosor de la linea */
    background-color: var(--primary-color);
    /* mismo verde que el texto */
    border-radius: 2px;
    /* bordes suaves */
}

.btn-contacto {
    background: var(--primary-color);
    border-radius: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    transition: var(--transition-speed);
}

.btn-contacto a {
    color: var(--bg-dark);
}

.btn-contacto a:hover {
    color: var(--bg-dark);
}

.btn-contacto:hover {
    transform: scale(2)
}

/* 🚀 Estilo especial SOLO para Contacto */
.menu a[href="#contacto"].active {
    color: var(--text-black);
    /* texto negro */
}
/* --------------------  NAV NUEVA  ---------------------------- */
/* NAVBAR GLASS */
.navbar-glass {
  position: fixed;
  top: 20px;
  left: 65%;
  /* right: 20%; */
  transform: translateX(-50%);
  z-index: 1000;

  background: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 15px;
  padding: 12px 22px;

  /* ✨ GLOW SUAVE */
  box-shadow:
    0 0 30px rgba(0, 253, 127, 0.18),
    0 0 40px rgba(0, 253, 127, 0.12),
    inset 0 0 5px rgba(255, 255, 255, 0.01);  


  /* border: 1px solid rgba(0, 255, 110, 0.182); */
}


/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 6px;

  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.2rem;  
  font-weight: normal; 

  padding: 8px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* HOVER */
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.nav-links a {
  color: var(--primary-color);
}

.nav-links a .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
  flex-shrink: 0;
}


/* --------------------MENU HAMBURGUESA PARA MOVIL---------------------------- */
/* Checkbox oculto */
.menu-toggle {
    display: none;
}

/* Icono hamburguesa */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    z-index: 1001;
}

.menu-icon span {
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 2px;
    transition: all 0.4s ease;
}

/* Posiciones iniciales */
.menu-icon span:nth-child(1) {
    top: 10px;
}

.menu-icon span:nth-child(2) {
    top: 18px;
}

.menu-icon span:nth-child(3) {
    top: 26px;
}

/* Al activar el checkbox: transformar a X */
.menu-toggle:checked~.menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
}

.menu-toggle:checked~.menu-icon span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked~.menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}

/* Mostrar menú al activar checkbox */
.menu-toggle:checked~.menu {
    right: 0;
}

/* Menú lateral (móvil) */
.menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark);
    background-image: url(https://thelokin.dev/images/grainy.png);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: right 0.3s ease;
    z-index: 1000;
}

/* --------------------INICIO---------------------------- */
.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 4rem;
    padding-top: 80px;
    /* agrega espacio extra */
    margin-top: -80px;
    /* lo neutraliza visualmente */
}

.perfil {
    position: relative;
    width: 350px;
    /* Tamaño de la imagen */
    height: 350px;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 500%;
    display: block;
    z-index: 1;
    position: relative;
}

/* Aro segmentado */
.perfil::before {
    width: 350px;
    /* Tamaño de la imagen */
    height: 350px;
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 50%;
    background: conic-gradient(var(--primary-color) 0deg 12deg,
            transparent 12deg 35deg,
            var(--primary-color) 35deg 50deg,
            transparent 50deg 70deg,
            var(--primary-color) 70deg 90deg,
            transparent 90deg 120deg,
            var(--primary-color) 120deg 125deg,
            transparent 125deg 160deg,
            var(--primary-color) 160deg 180deg,
            transparent 180deg 210deg,
            var(--primary-color) 210deg 240deg,
            transparent 240deg 260deg,
            var(--primary-color) 260deg 265deg,
            transparent 265deg 300deg,
            var(--primary-color) 300deg 330deg,
            transparent 330deg 360deg);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black calc(100% - 4px));
    mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black calc(100% - 4px));
    animation: girarBorde 19s linear infinite;
}

@keyframes girarBorde {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inicio-content {
    max-width: 600px;
}

.inicio-content h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
    position: relative;
}

.inicio-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0px 0px 10px 0px;
    position: relative;
}

.inicio-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    position: relative;
}

.botones-home {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    height: 50px;
    position: relative;
}

.botones-home a:nth-child(1) {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    background: var(--bg-dark);
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    font-size: 19px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: var(--transition-speed-long);
}

.botones-home a svg {
    margin-left: 10px;
    fill: currentColor;
}

.botones-home a:nth-child(2) svg,
.botones-home a:nth-child(3) svg {
    color: var(--primary-color);
}


.botones-home a:hover {
    color: var(--bg-dark);
}

.botones-home a:nth-child(2),
.botones-home a:nth-child(3) {
    transition: .3s;
}

.botones-home a:nth-child(2):hover,
.botones-home a:nth-child(3):hover {
    transform: scale(1.3);
}

.botones-home a:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: var(--transition-speed-long);
}

.botones-home a:hover:before {
    width: 100%;
}

/* -------------------- MODAL ---------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* oculta scroll en el modal */
}

.modal-content {
    /* background: #d80707; */
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* --- BARRA DE HERRAMIENTAS --- */
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #f5f5f544; */
    /* border-bottom: 1px solid #ddd; */
    padding: 5px 10px;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toolbar button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar button:hover {
    background: #dddddd26;
    border-radius: 5px;
}

.toolbar button svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-white);
}


/* --- CANVAS --- */
.pdf-viewer {
    flex: 1;
    overflow: auto;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scrollbar-width: none;
    /* oculta scrollbar en Firefox */
}

/* Ocultar scrollbar en Chrome/Edge */
.pdf-viewer::-webkit-scrollbar {
    display: none;
}

#pdfCanvas {
    /* width: 60%;  */
    /* height: 100%;     
        object-fit: cover;  */
    /* margin: 20px 0; */
    /* border: 1px solid #aaa; */
    /* background: #fff; */
    /* transition: transform 0.2s ease; */

}


/* --------------------ANIMACIONES DE ENTRADA---------------------------- */
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.inicio-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.inicio-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.inicio-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.botones-home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

/* Animación general para "aparecer desde abajo con fade" */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Ocultamos los elementos al inicio */
.menu li {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.6s ease forwards;
}

/* Ocultamos los elementos al inicio */
.perfil {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.6s ease forwards;
}

/* Delay progresivo: cada item entra con un pequeño retardo */
.menu li:nth-child(1) {
    animation-delay: 0.2s;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.6s;
}

.menu li:nth-child(4) {
    animation-delay: 0.8s;
}

.menu li:nth-child(5) {
    animation-delay: 1s;
}

.menu li:nth-child(6) {
    animation-delay: 1.2s;
}

.perfil {
    animation-delay: 1.8s;
}

/* --------------------EXPERIENCIA---------------------------- */
#experiencia {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 4rem;
}

.titulo-experiencia {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-experiencia svg {
    width: 3rem;
    height: 2rem;
}

.linea-EXP {
    position: absolute;
    height: 165px;
    margin-top: 15px;
    border-left: 1px solid var(--text-primary);
}

.linea3-EXP {
    position: absolute;
    height: 70px;
    border-left: 1px solid var(--text-primary);
}


/* --------------------PROYECTOS---------------------------- */

#proyectos {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 4rem;
    height: auto;
}

.titulo-proyectos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-proyectos svg {
    width: 3rem;
    height: 2rem;
}

.cont-proyecto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.proyecto-info {
    width: 45%;
}

.proyecto-img {
    width: 40%;
}

.proyecto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #00000043;
    transition: .5s;
}

.proyecto-img img:hover {
    transform: scale(1.1);
}

.proyecto-info h3 {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

.subtitulo {
    font-size: 1rem;
    color: var(--text-secondary);
    margin: 0 0 10px 0;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
    margin: 0 0 1.5rem 0;
}

.tecnologias span {
    background: var(--bg-secondary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tecnologias span svg {
    width: 1rem;
    height: 1rem;
    fill: var(--text-white);
}

.descripcion {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
}

.contenedor-btn-proyectos {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

.contenedor-btn-proyectos a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: .5rem;
    font-size: 1.1rem;
    text-decoration: none;
    padding: .5rem;
    transition: var(--transition-speed);
    background-color: #00fe9d13; 
    border: 1px solid #00fe9d54;
    color: var(--primary-light);
}

.contenedor-btn-proyectos a:first-child{
    border: 1px solid rgba(255, 255, 255, 0.337);
    background: var(--bg-dark);
    color: var(--text-light);
}

.contenedor-btn-proyectos a:hover {
    transform: scale(1.1);
}

.contenedor-btn-proyectos svg {
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;
}

/* --------------------EDUCACION---------------------------- */

#educacion {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 4rem;
}

.titulo-educacion {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.titulo-educacion svg {
    width: 3rem;
    height: 2rem;
}

#educacion h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.linea {
    position: absolute;
    height: 150px;
    margin-top: 15px;
    border-left: 1px solid white;
}

.linea3 {
    position: absolute;
    height: 60px;
    border-left: 1px solid white;
}

/* --------------------EDUCACION Y EXPERIENCIA---------------------------- */
.timeline-item {
    margin: 0 0 4rem 1.6rem;
    display: flex;
    gap: 2rem;
}

.linea-tiempo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-dot {
    margin-top: 8px;
    width: 14px;
    height: 14px;
    background: var(--text-white);
    border-radius: 50%;
}

.timeline-content h3 {
    font-weight: bold;
    margin: 0 0 3px 0;
    font-size: 21px;
}

.timeline-content .institution {
    margin: 0;
    font-size: 18px;
    color: var(--text-primary);
}

.timeline-content .date {
    font-size: 13px;
    color: var(--text-primary);
    margin: 0;
    font-weight: lighter;
}

/* --------------------SKILLS---------------------------- */
#skills {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 4rem;
    height: auto;
}

.titulo-skills {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-skills svg {
    width: 3rem;
    height: 2rem;
}

.contenedor-tecno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.caja-tecno {
    border: 1px solid rgba(255, 255, 255, 0.282);
    width: 100%;
    min-height: 241px;
    height: auto;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    z-index: 0;
    /* crea un contexto de apilamiento */

}

/* El "spotlight" */
.caja-tecno::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(20rem circle at var(--x, 100%) var(--y, 0%),
            rgb(0, 255, 128),
            transparent 40%);
    opacity: .3;
    transition: background 0.1s;
    pointer-events: none;
    /* No bloquea clics */
    z-index: -1;
    /* 👈 lo mandamos detrás */
}

.caja-tecno h3 {
    color: var(--primary-color);
    margin: 0 0 1rem;
}

.cont-tecnologias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas fijas */
    justify-content: space-around;
    width: 100%;
}

.tecno-sola {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-white);
    transition: var(--transition-speed-long);
}

.tecno-sola img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    color: var(--text-white);
}

.tecno-sola p {
    font-size: .7rem;
    font-weight: lighter;
}

.tecno-sola:hover {
    transform: scale(1.2);
}

/* --------------------CONTACTO---------------------------- */
#contacto {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 4rem;
    height: auto;
    /* height: 100vh; */
}

.titulo-contacto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-contacto svg {
    width: 3rem;
    height: 2rem;
}

.conteiner-contacto {
    display: flex;
    justify-content: space-between;
    height: 400px;
    /* max-height: auto; */
    flex-wrap: wrap;
    gap: 0rem;
}

.info-contacto,
.mensaje-contacto {
    /* width: 48%; */
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    padding: 2rem;
    box-sizing: border-box;

    flex: 1;
    /* que crezcan de forma flexible */
    min-width: 400px;
    /* bajamos un poco el límite mínimo */
    max-width: 48%;
    /* nunca más grandes que la mitad */
    height: auto;
}

.mensaje-contacto h3 {
    margin: 0 0 1rem;
}

.info-contacto h3 {
    margin: 0 0 1rem;
}

.info-contacto p {
    font-size: 14px;
}

.mensaje-contacto form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.mensaje-contacto textarea,
.mensaje-contacto input {
    margin: 0.5rem 0 1rem 0;
    background: var(--bg-dark);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    height: 1.5rem;
    color: var(--text-white);
    padding: 8px;
}

.mensaje-contacto textarea {
    height: 3.5rem;
    resize: none;
}

label {
    font-weight: lighter;
}

.mensaje-contacto button {
    border-radius: 1rem;
    height: 3rem;
    border: 0;
    background: var(--bg-secondary);
    color: var(--text-white);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.mensaje-contacto button:hover {
    background: #5a576b;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: space-between;
}

.elem-infocontacto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-svg {
    background: var(--bg-secondary);
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-svg svg {
    height: 1.5rem;
    width: 1.5rem;
}

.info-contacto p,
h4 {
    margin: 8px;
}

.info-contacto p {
    font-weight: lighter;
}

/* Alerta base */
.alerta-oculta {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent-green);
    /* Verde por defecto */
    color: var(--text-white);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alerta-mostrar {
    display: block;
    opacity: 1;
}

/* Estilo de error */
.alerta-error {
    background-color: var(--accent-red);
    /* Rojo */
}

.alerta-cargando {
    background-color: var(--accent-blue);
    /* Rojo */
}


/* --------------------FOOTER---------------------------- */
footer {
    text-align: center;
    margin-top: 10rem;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-footer {
    border-top: 1px solid var(--bg-secondary);
    width: 88%;
}

footer p {
    margin: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

/* --------------------ADAPTABILIDAD EN COMPUS---------------------------- */
@media (min-width: 1024px) {

    header {
        justify-content: space-between;
    }

    /* Ocultar ícono hamburguesa */
    .menu-icon {
        display: none;
    }

    /* Menú horizontal dentro del header */
    .menu {
        position: static;
        display: block;
        height: auto;
        width: auto;
        background: transparent;
    }

    .menu ul {
        display: flex;
        gap: 30px;
    }

    .menu a {
        font-size: 16px;
    }

    .inicio-content {
        max-width: 50%;
        align-items: start;
        justify-content: end;
    }

    .inicio {
        gap: 1rem;
    }
}

/* --------------------ADAPTABILIDAD EN TABLETS---------------------------- */
@media ((max-width: 1023px)) {

    .menu-icon {
        display: flex;
    }

    .menu {
        /* display: flex; */
        justify-content: left;
        box-sizing: border-box;
        padding: 2rem;
        /* width: 60%; */
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 6rem;
        gap: 3rem;
    }

    header {
        justify-content: flex-start;
        padding: 1rem;
    }

    .inicio {
        gap: 1rem;
    }

    .inicio-content {
        max-width: 50%;
        align-items: start;
        justify-content: end;
    }

    .inicio-content h1 {
        font-size: 30px;
    }

    .inicio-content h3 {
        font-size: 20px;
    }

    .botones-home {
        width: 100%;
        justify-content: flex-start;
    }

    .botones-home a:nth-child(1) {
        font-size: .8rem;

    }

    .cont-proyecto {
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }

    .proyecto-info {
        width: 100%;
    }

    .descripcion {
        margin-bottom: 1rem;
    }

    .proyecto-img {
        width: 100%;
    }

    .titulo-skills {
        margin-bottom: 2rem;
    }

    .contenedor-tecno {
        display: flex;
        gap: 2rem;
    }

    .titulo-contacto {
        margin-bottom: 2rem;
    }

    .conteiner-contacto {
        height: 100%;
        gap: 2rem;
    }

    .info-contacto,
    .mensaje-contacto {
        min-width: 100%;
        /* width: 100%;  */
        height: 450px;
        padding: 1rem;
    }

    .info-contacto {
        justify-content: center;
        gap: 3rem 1rem;

    }

    footer p {
        margin: .5rem 0 0 0;
    }

    .footer-container {
        flex-direction: column;
        margin: 1rem 0 2rem 0;
    }

    #pdfCanvas {
        /* width: 90%;   */
    }

}

/* --------------------ADAPTABILIDAD EN CELULARES---------------------------- */
@media (max-width: 768px) {
    header {
        justify-content: flex-start;
        padding: 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .inicio {
        flex-direction: column-reverse;
        /* invierte el orden */
        justify-content: center;
        align-items: center;
        /* text-align: center; centra el texto también */
        gap: 2rem;
        /* espacio entre perfil y contenido */
    }

    .perfil {
        margin: 0 auto;
        /* asegura que la imagen quede centrada */
        width: 250px;
        /* tamaño más chico para móvil */
        height: 250px;
    }

    .inicio-content {
        max-width: 600px;
        align-items: start;
        justify-content: end;
    }

    .inicio-content h1 {
        font-size: 30px;
    }

    .inicio-content h3 {
        font-size: 20px;
    }

    .botones-home {
        width: 100%;
        justify-content: flex-start;
    }

    .botones-home a:nth-child(1) {
        font-size: .8rem;

    }

    .linea-EXP {
        height: 280px;
    }

    .linea3-EXP {
        height: 150px;
    }

    .timeline-content h3 {
        margin-bottom: 1rem;
    }

    .linea {
        height: 260px;
    }

    .linea3 {
        height: 150px;
    }

    .info-svg svg {
        width: 1rem;
        height: 1rem;
    }

    .info-svg {
        width: 3rem;
        height: 3rem;
    }

    .elem-infocontacto p {
        font-size: 100%;
        color: inherit;
        text-decoration: none;
    }

    form button {
        position: relative;
        top: 1rem;
    }

    footer p {
        font-size: .6rem;
        margin: .5rem 0 0 0;
    }

}

@media (max-width: 430px) {
    .info-contacto p {
        font-size: 12px;
    }

    .botones-home a:nth-child(1) {
        width: 180px;
    }

    .contenedor-btn-proyectos a {
        width: 120px;
        font-size: .9rem;
    }
}

/* --------------------ADAPTABILIDAD EN 2k ---------------------------- */
@media (min-width: 2000px) {
    body {
        padding: 0 19%;
    }
}
