@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* Establecer una fuente por defecto con Google Fonts */
body {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    background-image: url(https://thelokin.dev/images/grainy.png);
    background-color: #1d1c22;
    color: azure;
}


header {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 25px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: -1px;
    z-index: 10;
    margin-bottom: 5%;
    background-color: #1d1c22f8;
    background-image: url(https://thelokin.dev/images/grainy.png);
}

.logo{
    text-decoration: none;
    font-size: 25px;
    color: #00fe9b;
    font-weight: 600;
    position: relative;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d1c22;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.menu {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Estilo para la barra de navegación */
.menu ul {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: azure;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #00fe9b;
}

.menu a.active{
    color: #00fe9b;
    position: relative;
    padding: 10px 0px;
}

.menu a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0px; /* separacion entre texto y linea */
    width: 100%;
    height: 2px;   /* grosor de la linea */
    background-color: #00fe9b; /* mismo verde que el texto */
    border-radius: 2px; /* bordes suaves */
}

.btn-contacto{
    background: #00fe9b;
    border-radius: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    transition: .3s;
}

.btn-contacto a{
    color: #1d1c22;
}

.btn-contacto a:hover{
    color: #1d1c22;
}

.btn-contacto:hover{
    transform: translateY(5px)
}

/* main{
    padding: 20px;
    color: azure
} */

.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 4rem;
}

.perfil{
    position: relative;
    width: 350px;   /* Tamaño de la imagen */
    height: 350px;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 500%;
    display: block;
    z-index: 1;
    position: relative;
}

/* Aro segmentado */
.perfil::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 50%;
    background: conic-gradient(
         #00fe9b 0deg 12deg,
        transparent 12deg 35deg,
        #00fe9b 35deg 50deg,
        transparent 50deg 70deg,
        #00fe9b 70deg 90deg,
        transparent 90deg 120deg,
        #00fe9b 120deg 125deg,
        transparent 125deg 160deg,
        #00fe9b 160deg 180deg,
        transparent 180deg 210deg,
        #00fe9b 210deg 240deg,
        transparent 240deg 260deg,
        #00fe9b 260deg 265deg,
        transparent 265deg 300deg,
        #00fe9b 300deg 330deg,
        transparent 330deg 360deg
    );
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black calc(100% - 4px));
    mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black calc(100% - 4px));
}

.inicio-content{
    max-width: 600px;
}

.inicio-content h1{
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
    position: relative;
}

.inicio-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d1c22;
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.inicio-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00fe9b;
    margin: 0px; 
    position: relative;
}

.inicio-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d1c22;
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.inicio-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    position: relative;
}

.inicio-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d1c22;
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.botones-home{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 400px;
    height: 50px;
    position: relative;
}

.botones-home::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d1c22;
    background-image: url(https://thelokin.dev/images/grainy.png);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.botones-home a:nth-child(1){
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    background: #1d1c22;
    border: 1px solid #00fe9b;
    border-radius: 2rem;
    font-size: 19px;
    color: #00fe9b;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.botones-home a svg{
    margin-left: 10px;
    fill: currentColor;
}

.botones-home a:nth-child(2) svg,
.botones-home a:nth-child(3) svg{
    color: #00fe9b;
}


.botones-home a:hover{
    color: #1d1c22;
}

.botones-home a:nth-child(2),
.botones-home a:nth-child(3){
    transition: .3s;
}

.botones-home a:nth-child(2):hover,
.botones-home a:nth-child(3):hover{
    transform: scale(1.3);
}

.botones-home a:nth-child(1):before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00fe9b;
    z-index: -1;
    transition: .5s;
}

.botones-home a:hover:before{
    width: 100%;
}

/* Animación general para "aparecer desde abajo con fade" */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Ocultamos los elementos al inicio */
.menu li {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease forwards;
}

/* Ocultamos los elementos al inicio */
.perfil {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease forwards;
}

/* Delay progresivo: cada item entra con un pequeño retardo */
.menu li:nth-child(1) { animation-delay: 0.2s; }
.menu li:nth-child(2) { animation-delay: 0.4s; }
.menu li:nth-child(3) { animation-delay: 0.6s; }
.menu li:nth-child(4) { animation-delay: 0.8s; }
.menu li:nth-child(5) { animation-delay: 1s; }
.menu li:nth-child(6) { animation-delay: 1.2s; }
.perfil { animation-delay: 1.8s; }

#contacto{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-bottom: 4rem;
}

.titulo-contacto{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-contacto svg{
    width: 3rem;
    height: 2rem;
}

.conteiner-contacto{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.info-contacto,
.mensaje-contacto{
    width: 45%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #00fe9b;
    padding: 1rem;
}

.mensaje-contacto form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.mensaje-contacto textarea,
.mensaje-contacto input{
    margin: 0.5rem 0 1rem 0;
    background: #1d1c22;
    border-radius: 8px;
    border: 1px solid #00fe9b;
    height: 2rem;
    color: white;
    padding: 8px;
}

.mensaje-contacto textarea{
    height: 6rem;
}

label{
    font-weight: lighter;
}

.mensaje-contacto button{
    border-radius: 8px;
    height: 4rem;
    border: 0;
    background:#373541;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.mensaje-contacto button:hover{
    background: #5a576b;
}

.info-contacto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.elem-infocontacto{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-svg{
    background: #373541;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-svg svg{
    height: 1.5rem;
    width: 1.5rem;
}

.info-contacto p,h4{
    margin: 8px;
}

.info-contacto p{
    font-weight: lighter;
}

#experiencia{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-bottom: 4rem;
    height: 500px;
}

.titulo-experiencia{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-experiencia svg{
    width: 3rem;
    height: 2rem;
}

#skills{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-bottom: 4rem;
    height: 500px;
}

.titulo-skills{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-skills svg{
    width: 3rem;
    height: 2rem;
}

/* ---------------------------------------------- */

#proyectos{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-bottom: 4rem;
    height: auto;
}

.titulo-proyectos{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo-proyectos svg{
    width: 3rem;
    height: 2rem;
}
/* ------------ */

.cont-proyecto{
    display: flex;
    justify-content: space-between;
    /* margin: 2rem 0 2rem 0; */
}

.proyecto-info{
    width: 45%;
}

.proyecto-img{
    width: 50%;
}

.proyecto-img img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border: 2px solid #1d1c22;
  transition: .5s;
}

.proyecto-img img:hover {
    transform: scale(1.1);
}

.proyecto-info h3 {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
}

.subtitulo {
  font-size: 1rem;
  color: gray;
  margin: 0 0 10px 0;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem 1rem;
  margin: 0 0 1.5rem 0;
}

.tecnologias span {
  background: #373541;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.tecnologias span svg{
  width: 1rem;
  height: 1rem;
  fill: white;
}

.descripcion {
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0;
}

/* ---------------------------------------------- */

#educacion{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-bottom: 4rem;
    height: 500px;
}

.titulo-educacion{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.titulo-educacion svg{
    width: 3rem;
    height: 2rem;
}

/* #educacion {
  position: relative;
  padding-left: 40px;
  margin: 2rem 0;
  border-left: 2px solid white; la línea vertical
} */

#educacion h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.timeline-item {
  margin: 0 0 4rem 1.6rem;
  display: flex;
  gap: 2rem;
}

.timeline-dot {
  margin-top: 8px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
}

.linea-tiempo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea{
    position: absolute;
    height: 150px;
    margin-top: 15px;
    border-left: 1px solid white;
}

.linea-EXP{
    position: absolute;
    height: 165px;
    margin-top: 15px;
    border-left: 1px solid white;
}

.linea3 {
    position: absolute;
    height: 60px;
    border-left: 1px solid white;
}

.linea3-EXP {
    position: absolute;
    height: 70px;
    border-left: 1px solid white;
}

.timeline-content h3 {
  font-weight: bold;
  margin: 0 0 3px 0;
  font-size: 21px;
}

.timeline-content .institution {
  margin: 0;
  font-size: 18px;
  color: #888;
}

.timeline-content .date {
  font-size: 13px;
  color: #555;
  margin: 0;
}
